.logoMenu {
    width: 150px;
    cursor: pointer;
}

.navbar {
    background-color: #6E2BF3 !important;
    padding: 15px 0px !important;
}

.nav-item:hover {
    background-color: #541fc0 !important;
    transition: .3s;
}

.nav-item {
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    color: #fff !important;
}

.closeSesion {
    background-color: #fff !important;
}

.closeSesion:hover {
    background-color: #fff !important;
}

.closeSesion a {
    color: #000 !important;
}
.dropdown{
    margin-top: 1px;
}
.dropdown-toggle {
    color: #fff !important;
    border: 1px solid transparent !important;
}
.dropdown-toggle:hover {
    background-color: #541fc0 !important;
    transition: .3s;
}
@media (max-width: 1000px) {
    .nav-item {
        margin-top: 20px;
        display: block;
        padding: 0px 10px;
    }
    .dropdown{
        margin-left: 7px;
        margin-top: 15px;
    }
}