h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
}

.controles {
    margin-top: 20px;
    display: grid !important;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(3, 1fr)  !important;
} 

.detalles-comprobante {
    margin-top: 15px;
    display: grid !important;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(2, 1fr)  !important;
}
#boton{
    margin-bottom:20px;
}
.fa-close{
    color: #fff !important;
    cursor: pointer !important;
    height: 32px !important;
    width: 32px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signo-cantidad {
    cursor: pointer;
}
thead {
    color: #fff;
    text-align: center;
    background-color: #6E2BF3 !important;
}

th, td {
    text-align: center;
}

tr {
    flex-direction: row !important;
}

.ruc {
    display: none;
}

.fa-close {
    background-color: red !important;
    border-radius: 5px;
    padding: 10px;
}
.fa-check{
    background-color: green !important;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.fa-edit{
    background-color: green !important;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.fa-pencil{
    background-color: yellow !important;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    cursor: pointer;
}
.buscador {
    background-color: #6E2BF3 !important;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    transition: ease-in-out 0.3s;
}
.buscador:hover{
    background-color: #551ec3 !important;
    transition: ease-in-out 0.3s;
}
.buscador i{
    color: #fff !important;
    font-size: 1.5rem;
}
.productos-lista{
    height: 400px !important;
    max-height: 400px !important;
    overflow: auto !important;
}
.bx-copy-alt{
    background-color: green !important;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer !important;
    height: 32px !important;
    width: 32px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1000px) {
    .controles {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(5, 1fr)  !important;
    }

    .detalles-comprobante {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(3, 1fr)  !important;
    }
}

@media (max-width: 830px) {
    .box-table {
        overflow-x: scroll;
    }
}

@media (max-width: 630px) {
    .controles {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(10, 1fr)  !important;
    }

    .detalles-comprobante {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(6, 1fr)  !important;
    }
}